    header{
        background-color: #353535;
        height: 60px;
        display: flex;
        align-items: center
    }
    .header_button_first{
        padding: 0 40px;
    }
    .header_button{
        padding-left: 30px;
    }
    .header_link{
        color: #c2c2c2;
        font-size: 20px;
        text-decoration: none;
    }
    .home_text{
        color: #ffffff;
        font-size: 90px;
        font-weight: 900;
        padding-left: 100px;
        min-width: 300px;
        max-width: 400px
    }
    main{
        background-color: #e8e8e8;
        min-height: calc(100vh - 100px);
    }
    .main_content{
        text-indent: 40px;
        text-align: justify;
        word-spacing: 5px;
        line-height: 22px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    h2{
        text-align:center;
        text-transform: uppercase;
    }

    table{
        background-color: #ffffff;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    td{
        padding: 7px;
    }
    .left_td{
        border-bottom: 1px solid #808080;
    }
    .center_td{
        border-bottom: 1px solid #808080;
    }
    .right_td{
        width: 200px;
        border-bottom: 1px solid #808080;
    }
    .price{
        font-size: 20px;
        padding: 2px;
    }
    .text_column{
        color:#181818;
        font-size: 14px;
        padding: 2px;
    }
    .button_green{
        background-color:#a3c644;
        padding: 7px 0;
        color:#ffffff;
        letter-spacing:1px;
        border-bottom:1.3px solid #89a73b;
    }
    .button_white{
        padding: 7px 0;
        border: 1px solid #2f86c1;
        color: #2f86c1;
        cursor: pointer;
    }
    .button_in_column{
        text-align:center;
        margin:5px 20px;
        border-radius: 3px;
        font-size:13px;
        font-weight: 600;
    }
    .button_green:hover{
        background-color: #8caa3c;
        cursor: pointer;
        transition: 0.5s;
    }
    .button_white:hover{
        color: #2971a1;
        background-color: #f3f3f3;
        border-bottom: 1.3px solid #2f86c1;
        padding-bottom: 6.7px;
        transition: 0.5s;
    }
    .name_courses{
        color: #2a8bd7;
        font-size: 18px;
        cursor: pointer;
        padding: 2px;
    }
    .name_courses:hover{
        color: #0d64a3;
    }
    footer{
        height: 40px;
        background-color: #353535;
    }
    .footer_text{
        text-align: center;
        line-height: 40px;
    }
    .link_footer{
        text-decoration: none;
        color: #e8e8e8;
    }